@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Wet+Paint&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-[0px] p-[0px]
    }
    body {
        @apply font-noto h-full;
        background-image: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    html.dark body {
        background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
    }
    a {
        text-decoration: none;
    }
    .cl-element {
        transition: all 0.2s ease-in-out;
    }
    .actived {
        justify-content: flex-end !important;
        background-color: red !important;
    }
    .btn-actived {
        background-color: rgb(255, 51, 51) !important;
        color: black !important;
    }
    .helper {
        position: relative;
    }
}